<main class="p-5">
    <div class="card p-5">
        <p id="test">
            Hello    Hello
        </p>
        <span class="test2">test</span>
    </div>
    <pre>   jfj           ,;;</pre>

    <div>block</div>
    <div>block</div>
    <div>block</div>
    <div>block</div>

    <span class="block">inline</span>
    <span>inline</span>
    <span>inline</span>
    <span>inline</span>
</main>