
<div lang="fr" class="card p-5 m-5">
    <a class="link" href="www.gok.com">Click me</a>
    <span>Helld</span>
</div>

<div lang="en" class="card p-5 m-5">
    <a href="#test">Click me</a>
</div>

<div id="test" class="card p-5 m-5">
    <input>
    якір
</div>

<div class="p-5 m-5 card-dark">
    <button>Ok</button>
    <button disabled>Disabled button</button>
</div>

<div class="p-5 m-5 card-dark">
    <input class="inp">
</div>

<div class="p-5 m-5 card-dark">
    <div>
        <input type="checkbox" checked>
        <span>first</span>
    </div>
    <div>
        <input type="checkbox">
        <span>second</span>
    </div>
</div>

<div class="p-5 m-5 card-dark">
    <div>
        <input type="email" required class="valid">
    </div>
    <div class="mt-5">
        <input type="number" min="10" max="20" required class="number">
    </div>
</div>

{{!-- <div class="p-5 box">
    <h1>USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <h1 id="user">USB хаб Type C 12 в 1 HDMI VGA AUX 3.5 mm</h1>

    <button type="button" class="btn btn-primary">Купити</button>
    <p>55555555555555</p>
</div> --}}

