:root {
  --text-color: #212529;
}

.page {
  background: #FFFFFF;
  padding: 0 15px;
}

.page_content {
  max-width: 960px;
  margin: 0 auto;
}

.header {
  padding: 24px;
  border-bottom: 1px solid #DEE2E6;;
}

.logo {
  font-size: 17px;
}

.divider {
  margin: 0px;
  height: 1px;
  background: #DEE2E6;
}

.nav {
  display: block;
}

.nav_link {
  color: #343A40;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;
}

.nav_link:hover {
  text-decoration: underline;
  color: blue;
}

.nav_vertical > .nav_link {
  display: block;
}

.nav_inline > .nav_link:not(:last-child) {
  margin-right: 24px;
}

.nav_vertical > .nav_link:not(:last-child) {
  margin-bottom: 12px;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}

.page_block:not(:last-of-type) {
  margin-bottom: 80px;
}

.footer {
  padding: 24px 0;
  border-top: 1px solid #DEE2E6;
}

.footer_copyright {
  font-size: 14px;
  color: #6C757D;
  display: block;
  margin-top: 12px;
}

.footer_title {
  font-size: 20px;
  color: var(--text-color,red);
  display: block;
  margin-bottom: 12px;
}

.hero_title {
  font-size: 56px;
  color: #212529;
  font-weight: 500;
  margin-bottom: 12px;
  text-align: center;
}

.hero_text {
  color: #212529;
  font-size: 20px;
  text-align: center;
  max-width: 585px;
  margin: 0 auto;
  /* line-height: 3; */
}

.plans_card:not(:last-of-type) {
  margin-right: 24px;
}

.card-header {
  padding: 12px;
  text-align: center;
  font-size: 24px;
  color: #212529;
}

.card-body {
  padding: 24px;
}


.card_price_amount {
  font-size: 40px;
  color: #212529;
}

.card_price_duration {
  font-size: 29px;
  color: #6C757D;
  vertical-align: text-top;
}

.card_block {
  text-align: center;
}

.card_block:not(:last-of-type) {
  margin-bottom: 24px;
}

.card_description_item {
  font-size: 16px;
  color: #212529;
  display: block;
}

.card_description_item:not(:last-of-type) {
  margin-bottom: 12px;
}

.card_button {
  display: block;
  width: 100%;
  font-size: 19px;
  padding: 9px;
}

.card {
  border: 2px solid blue;
  border-radius: 10px 50px;
  border-bottom-right-radius: 50px;
}

.card:hover {
  outline: 2px solid blue;
  outline-offset: 5px;
  cursor: pointer;
  opacity: 0.5;
}

h1 {
  text-shadow: 2px 2px 2px red;
}

.plans_card:nth-child(2) > .card {
  background: red;
  visibility: collapse;
}

p {
  background: gray;
  line-height: 1.cap;
  width: 600px;
  height: 300px;
  /* overflow-x: hidden;
  overflow-y: scroll; */
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: anywhere;
  word-break: break-all; */
  /* word-spacing: 10px;
  overflow: auto;
  resize: both; */
}


body {
  background: radial-gradient(50% 50% at 50% 50%, #C57676 0%, rgba(217, 217, 217, 0) 100%);
}

.page {
  /* background-image: url('/img/test2.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */

  
}


.hero_text {
  /* background: transparent; */
  border-image-source: url('/img/test2.webp');
  border-image-width: 10%;
  border-image-slice: 10%;

  border-image-outset: 40px;
  
}

.card_block {
  list-style-type: disc;
  list-style-position: inside;
}

.card_description_item {
  display: list-item;
}

.table tr td {
  border: 1px solid red;
  border-bottom-color: green;
  border-right-color: blue;
}

.table {
  table-layout: fixed;
  width: 600px;
  border-collapse: unset;
  border-spacing: 10px 5px;
  caption-side: top;
  empty-cells: hide;
}

.nav_link::before, 
.nav_link::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url('/img/test2.webp');
}

.nav_link::after {
  margin-left: 15px;
}

.nav_link::before {
  margin-right: 15px;
}

.calc {
  width: 600px;
  /* margin-right: calc(100% - 600px); */
  margin-left: calc(50% - (600px / 2));
}